name: CI
on: [push, pull_request]

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        os:
          # FIXME: MacOS
          - ubuntu-22.04
        dc:
          - dmd-2.104.0
          - ldc-1.32.2

        python-version:
          - 3.11
          - 3.9

        llvm-version:
          - "15.0"
          - "14.0"

        include:
          - { os: windows-2022, dc: ldc-1.32.2, python-version: 3.9, llvm-version: "16.0" }

    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v3

      - name: Install clang
        uses: KyleMayes/install-llvm-action@v1.8.0
        with:
          version: ${{ matrix.llvm-version }}

      - name: Install D compiler
        # must go before setting LD_LIBRARY_PATH below
        uses: dlang-community/setup-dlang@v1.3.0
        with:
          compiler: ${{ matrix.dc }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Environment variables
        # This is so we can find libclang at runtime
        # We append to the current value in order to keep what's set by the D installation
        run: echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${{ env.LLVM_PATH }}/lib" >> $GITHUB_ENV

      - name: Run tests
        shell: bash
        run: ./ci.sh
        env:
          LIBRARY_PATH: ${{ env.LLVM_PATH }}/lib  # find libclang while linking

      - uses: codecov/codecov-action@v3
